<html>
  <head>
    <title>Timestamp Home</title>
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <h2>Example Use:</h2>
    <p>url/1009411200000</p>
    <p>url/27December2001</p>
  </body>
</html>
